In [8]:
!pip freeze --user > requirements.txt
!while read p; do pip install --user "${p}" --ignore-installed ; done <./requirements.txt

Collecting brewer2mpl==1.4.1
  Using cached brewer2mpl-1.4.1-py2.py3-none-any.whl
Installing collected packages: brewer2mpl
Successfully installed brewer2mpl-1.4.1
Collecting cycler==0.10.0
  Using cached cycler-0.10.0-py2.py3-none-any.whl
Collecting six (from cycler==0.10.0)
  Using cached six-1.11.0-py2.py3-none-any.whl
Installing collected packages: six, cycler
Successfully installed cycler-0.10.0 six-1.11.0
Collecting functools32==3.2.3.post2
Installing collected packages: functools32
Successfully installed functools32-3.2.3.post2
Collecting ggplot==0.11.5
  Using cached ggplot-0.11.5-py2.py3-none-any.whl
Collecting scipy (from ggplot==0.11.5)
  Using cached scipy-0.19.1-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pandas (from ggplot==0.11.5)
  Using cached pandas-0.20.3-cp27-cp27mu-manylinux1_x86_64.whl
Collecting cycler (from ggplot==0.11.5)
  Using cached cycler-0.10.0-py2.py3-none-any.whl
Collecting numpy (from ggplot==0.11.5)
  Using cached numpy-1.13.1-cp27-cp27mu-manylinux1_x86_64.whl
Collecting brewer2mpl (from ggplot==0.11.5)
  Using cached brewer2mpl-1.4.1-py2.py3-none-any.whl
Collecting matplotlib (from ggplot==0.11.5)
  Using cached matplotlib-2.0.2-cp27-cp27mu-manylinux1_x86_64.whl
Collecting patsy>=0.4 (from ggplot==0.11.5)
  Using cached patsy-0.4.1-py2.py3-none-any.whl
Collecting six (from ggplot==0.11.5)
  Using cached six-1.11.0-py2.py3-none-any.whl
Collecting statsmodels (from ggplot==0.11.5)
  Using cached statsmodels-0.8.0-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pytz>=2011k (from pandas->ggplot==0.11.5)
  Using cached pytz-2017.2-py2.py3-none-any.whl
Collecting python-dateutil (from pandas->ggplot==0.11.5)
  Using cached python_dateutil-2.6.1-py2.py3-none-any.whl
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=1.5.6 (from matplotlib->ggplot==0.11.5)
  Using cached pyparsing-2.2.0-py2.py3-none-any.whl
Collecting subprocess32 (from matplotlib->ggplot==0.11.5)
Collecting functools32 (from matplotlib->ggplot==0.11.5)
Installing collected packages: numpy, scipy, pytz, six, python-dateutil, pandas, cycler, brewer2mpl, pyparsing, subprocess32, functools32, matplotlib, patsy, statsmodels, ggplot
Successfully installed brewer2mpl-1.4.1 cycler-0.10.0 functools32-3.2.3.post2 ggplot-0.11.5 matplotlib-2.0.2 numpy-1.13.1 pandas-0.20.3 patsy-0.4.1 pyparsing-2.2.0 python-dateutil-2.6.1 pytz-2017.2 scipy-0.19.1 six-1.11.0 statsmodels-0.8.0 subprocess32-3.2.7
Collecting matplotlib==2.0.2
  Using cached matplotlib-2.0.2-cp27-cp27mu-manylinux1_x86_64.whl
Collecting six>=1.10 (from matplotlib==2.0.2)
  Using cached six-1.11.0-py2.py3-none-any.whl
Collecting pytz (from matplotlib==2.0.2)
  Using cached pytz-2017.2-py2.py3-none-any.whl
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=1.5.6 (from matplotlib==2.0.2)
  Using cached pyparsing-2.2.0-py2.py3-none-any.whl
Collecting numpy>=1.7.1 (from matplotlib==2.0.2)
  Using cached numpy-1.13.1-cp27-cp27mu-manylinux1_x86_64.whl
Collecting python-dateutil (from matplotlib==2.0.2)
  Using cached python_dateutil-2.6.1-py2.py3-none-any.whl
Collecting subprocess32 (from matplotlib==2.0.2)
Collecting cycler>=0.10 (from matplotlib==2.0.2)
  Using cached cycler-0.10.0-py2.py3-none-any.whl
Collecting functools32 (from matplotlib==2.0.2)
Installing collected packages: six, pytz, pyparsing, numpy, python-dateutil, subprocess32, cycler, functools32, matplotlib
Successfully installed cycler-0.10.0 functools32-3.2.3.post2 matplotlib-2.0.2 numpy-1.13.1 pyparsing-2.2.0 python-dateutil-2.6.1 pytz-2017.2 six-1.11.0 subprocess32-3.2.7
Collecting numpy==1.13.1
  Using cached numpy-1.13.1-cp27-cp27mu-manylinux1_x86_64.whl
Installing collected packages: numpy
Successfully installed numpy-1.13.1
Collecting pandas==0.20.3
  Using cached pandas-0.20.3-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pytz>=2011k (from pandas==0.20.3)
  Using cached pytz-2017.2-py2.py3-none-any.whl
Collecting numpy>=1.7.0 (from pandas==0.20.3)
  Using cached numpy-1.13.1-cp27-cp27mu-manylinux1_x86_64.whl
Collecting python-dateutil (from pandas==0.20.3)
  Using cached python_dateutil-2.6.1-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil->pandas==0.20.3)
  Using cached six-1.11.0-py2.py3-none-any.whl
Installing collected packages: pytz, numpy, six, python-dateutil, pandas
Successfully installed numpy-1.13.1 pandas-0.20.3 python-dateutil-2.6.1 pytz-2017.2 six-1.11.0
Collecting patsy==0.4.1
  Using cached patsy-0.4.1-py2.py3-none-any.whl
Collecting six (from patsy==0.4.1)
  Using cached six-1.11.0-py2.py3-none-any.whl
Collecting numpy (from patsy==0.4.1)
  Using cached numpy-1.13.1-cp27-cp27mu-manylinux1_x86_64.whl
Installing collected packages: six, numpy, patsy
Successfully installed numpy-1.13.1 patsy-0.4.1 six-1.11.0
Collecting pyparsing==2.2.0
  Using cached pyparsing-2.2.0-py2.py3-none-any.whl
Installing collected packages: pyparsing
Successfully installed pyparsing-2.2.0
Collecting python-dateutil==2.6.1
  Using cached python_dateutil-2.6.1-py2.py3-none-any.whl
Collecting six>=1.5 (from python-dateutil==2.6.1)
  Using cached six-1.11.0-py2.py3-none-any.whl
Installing collected packages: six, python-dateutil
Successfully installed python-dateutil-2.6.1 six-1.11.0
Collecting pytz==2017.2
  Using cached pytz-2017.2-py2.py3-none-any.whl
Installing collected packages: pytz
Successfully installed pytz-2017.2
Collecting scipy==0.19.1
  Using cached scipy-0.19.1-cp27-cp27mu-manylinux1_x86_64.whl
Collecting numpy>=1.8.2 (from scipy==0.19.1)
  Using cached numpy-1.13.1-cp27-cp27mu-manylinux1_x86_64.whl
Installing collected packages: numpy, scipy
Successfully installed numpy-1.13.1 scipy-0.19.1
Collecting six==1.11.0
  Using cached six-1.11.0-py2.py3-none-any.whl
Installing collected packages: six
Successfully installed six-1.11.0
Collecting statsmodels==0.8.0
  Using cached statsmodels-0.8.0-cp27-cp27mu-manylinux1_x86_64.whl
Collecting scipy (from statsmodels==0.8.0)
  Using cached scipy-0.19.1-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pandas (from statsmodels==0.8.0)
  Using cached pandas-0.20.3-cp27-cp27mu-manylinux1_x86_64.whl
Collecting patsy (from statsmodels==0.8.0)
  Using cached patsy-0.4.1-py2.py3-none-any.whl
Collecting numpy>=1.8.2 (from scipy->statsmodels==0.8.0)
  Using cached numpy-1.13.1-cp27-cp27mu-manylinux1_x86_64.whl
Collecting pytz>=2011k (from pandas->statsmodels==0.8.0)
  Using cached pytz-2017.2-py2.py3-none-any.whl
Collecting python-dateutil (from pandas->statsmodels==0.8.0)
  Using cached python_dateutil-2.6.1-py2.py3-none-any.whl
Collecting six (from patsy->statsmodels==0.8.0)
  Using cached six-1.11.0-py2.py3-none-any.whl
Installing collected packages: numpy, scipy, pytz, six, python-dateutil, pandas, patsy, statsmodels
Successfully installed numpy-1.13.1 pandas-0.20.3 patsy-0.4.1 python-dateutil-2.6.1 pytz-2017.2 scipy-0.19.1 six-1.11.0 statsmodels-0.8.0
Collecting subprocess32==3.2.7
Installing collected packages: subprocess32
Successfully installed subprocess32-3.2.7

In [2]:

from ibmdbpy import IdaDataBase, IdaDataFrame

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.
idadb_06bc640aecf24b019ccc7615444f257d = IdaDataBase(dsn='DASHDB;Database=BLUDB;Hostname=dashdb-entry-yp-dal09-08.services.dal.bluemix.net;Port=50000;PROTOCOL=TCPIP;UID=dash13271;PWD=He4IF_mal6_K')

TRAIN = IdaDataFrame(idadb_06bc640aecf24b019ccc7615444f257d, 'DASH13271.TRAIN_TABLE').as_dataframe()
TRAIN.head()

# You can close the database connection with the following code. Please keep the comment line with the @hidden_cell tag,
# because the close function displays parts of the credentials.
# @hidden_cell
# idadb_06bc640aecf24b019ccc7615444f257d.close()
# To learn more about the ibmdby package, please read the documentation: http://pythonhosted.org/ibmdbpy/

,ID,VAR_1,VAR_2,VAR_3,VAR_4,VAR_5,VAR_6,VAR_7,VAR_8,VAR_9,...,VAR_186,VAR_187,VAR_188,VAR_189,VAR_190,VAR_191,VAR_192,VAR_193,VAR_194,FL_TARGET
0,12290935,4607,1,22,1,1803,24990,0,0,0,...,1.0,1.33,1.67,1.00,1.67,1.67,1.00,1.67,1.67,A
1,12295065,4743,1,22,23,1871,14990,0,0,0,...,1.0,1.02,0.85,1.00,0.95,1.00,1.02,1.00,1.00,P
2,12295112,4599,1,22,1,1799,29990,0,0,0,...,1.0,0.61,0.84,1.00,0.95,0.95,1.00,1.00,1.00,A
3,12296641,4617,1,22,1,1808,39990,0,0,0,...,1.0,1.00,0.74,1.00,0.76,0.76,1.00,1.67,1.67,A
4,12298194,4599,1,22,1,1799,29990,3,17639,3,...,1.0,1.00,1.15,0.75,1.36,1.67,0.75,1.67,1.67,A

In [1]:

data_df_1 = IdaDataFrame(idadb_06bc640aecf24b019ccc7615444f257d, 'DASH13271.TRAIN_TABLE').as_dataframe()
data_df_1.head()

# You can close the database connection with the following code. Please keep the comment line with the @hidden_cell tag,
# because the close function displays parts of the credentials.
# @hidden_cell
# idadb_06bc640aecf24b019ccc7615444f257d.close()
# To learn more about the ibmdby package, please read the documentation: http://pythonhosted.org/ibmdbpy/

NameError: name 'IdaDataFrame' is not defined

In [9]:
TRAIN = TRAIN.dropna(how='any',axis=0)

In [10]:
# 4. Base de train
Y_TRAIN = TRAIN.FL_TARGET
X_TRAIN = TRAIN.drop('FL_TARGET', axis=1) #el target se debe quitar de la muestra
# 4. Divido en train y test
#print X
##X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.2, random_state=123, stratify=y)

In [11]:
from sklearn.ensemble import RandomForestClassifier

#inicializo el modelo
clf=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=12, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=2,
            oob_score=True, random_state=0, verbose=0, warm_start=False)
#uso el modelo
clf.fit(X_TRAIN, Y_TRAIN)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=12, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=2,
            oob_score=True, random_state=0, verbose=0, warm_start=False)

In [12]:

TEST = IdaDataFrame(idadb_06bc640aecf24b019ccc7615444f257d, 'DASH13271.TEST_TABLE').as_dataframe()
TEST.head()

# You can close the database connection with the following code. Please keep the comment line with the @hidden_cell tag,
# because the close function displays parts of the credentials.
# @hidden_cell
# idadb_06bc640aecf24b019ccc7615444f257d.close()
# To learn more about the ibmdby package, please read the documentation: http://pythonhosted.org/ibmdbpy/

,ID,VAR_1,VAR_2,VAR_3,VAR_4,VAR_5,VAR_6,VAR_7,VAR_8,VAR_9,...,VAR_186,VAR_187,VAR_188,VAR_189,VAR_190,VAR_191,VAR_192,VAR_193,VAR_194,FL_TARGET
0,10046330,4081,1,39,21,1540,9990,0,0,0,...,1.0,1,1.00,1.33,1.33,1.46,1.00,1.30,2.0,P
1,10047387,3977,1,39,1,1488,16990,0,0,0,...,1.0,1,1.00,1.24,0.88,1.15,1.99,1.01,1.0,P
2,10047610,3805,3,39,1,1402,13990,8,17639,2,...,1.0,1,0.86,1.11,1.09,0.92,1.00,0.91,2.0,A
3,10048800,4599,1,39,1,1799,29990,0,0,0,...,1.0,1,1.00,1.09,0.19,1.17,2.00,0.79,1.0,A
4,10049492,3947,6,39,17,1473,39990,10,17639,4,...,1.0,1,1.21,1.06,1.00,1.02,1.02,1.19,2.0,A

In [13]:
TEST = TEST.dropna(how='any',axis=0)

In [17]:
#ejecuto el modelo contra la base test
X_TEST = TEST.drop('FL_TARGET', axis=1)
Y_TEST = TEST.FL_TARGET
PRED = clf.predict(X_TEST)

import pandas as pd
pd.crosstab(Y_TEST, PRED, rownames=['actual'], colnames=['preds'])

preds       A     P
actual
A       23370  2856
P        2174   788

In [18]:
#Precision del modelo
print("precisión del modelo: {0: .2f}".format((Y_TEST == PRED).mean()))

precisión del modelo:  0.83