In [1]:
#!pip freeze --user > requirements.txt
#!while read p; do pip install --user "${p}" --ignore-installed ; done <./requirements.txt

In [2]:
import boto3
import pandas as pd
#inicializo el conector y me traigo el primer archivo 30MB
s3 = boto3.client('s3',aws_access_key_id="AKIAIAMTDJURFX4VZ4BQ", aws_secret_access_key="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")
obj = s3.get_object(Bucket='bluemixtest', Key='REMOTE_PORTOUT_TEST_0.CSV')
df = pd.read_csv(obj['Body'],sep=",")
df.head()

,ID,VAR_1,VAR_2,VAR_3,VAR_4,VAR_5,VAR_6,VAR_7,VAR_8,VAR_9,...,VAR_186,VAR_187,VAR_188,VAR_189,VAR_190,VAR_191,VAR_192,VAR_193,VAR_194,FL_TARGET
0,10000428,3979,5,40,1,1489,20990,12,17639,12,...,1.00,1.0,1.68,0.64,0.69,0.64,0.78,1.03,1.0,A
1,10000485,4081,1,40,21,1540,9990,0,0,0,...,1.00,1.0,1.00,1.35,1.08,1.36,1.00,1.29,2.0,A
2,1000075,4599,2,162,1,1799,29990,9,17639,6,...,0.22,1.0,0.94,0.90,0.45,1.03,2.00,1.53,1.0,A
3,10001370,4599,6,40,1,1799,29990,17,17639,2,...,1.00,1.0,1.51,1.04,0.00,1.30,1.64,1.43,2.0,A
4,1000199,4081,2,162,1,1540,9990,0,0,0,...,1.00,1.0,1.00,1.23,1.17,1.18,1.00,0.94,2.0,A

In [3]:
# 4. Divido en train y test
Y_TRAIN = df.FL_TARGET
X_TRAIN = df.drop('FL_TARGET', axis=1) #el target se debe quitar de la muestra

In [4]:
#inicializo el modelo
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=12, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=2,
            oob_score=True, random_state=0, verbose=0, warm_start=False)
#uso el modelo
clf.fit(X_TRAIN, Y_TRAIN)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=12, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=40, n_jobs=2,
            oob_score=True, random_state=0, verbose=0, warm_start=False)

In [5]:
#obtengo el archivo de test
obj = s3.get_object(Bucket='bluemixtest', Key='REMOTE_PORTOUT_TEST_0.CSV')
df_test = pd.read_csv(obj['Body'],sep=",")
df_test.head()

,ID,VAR_1,VAR_2,VAR_3,VAR_4,VAR_5,VAR_6,VAR_7,VAR_8,VAR_9,...,VAR_186,VAR_187,VAR_188,VAR_189,VAR_190,VAR_191,VAR_192,VAR_193,VAR_194,FL_TARGET
0,10000428,3979,5,40,1,1489,20990,12,17639,12,...,1.00,1.0,1.68,0.64,0.69,0.64,0.78,1.03,1.0,A
1,10000485,4081,1,40,21,1540,9990,0,0,0,...,1.00,1.0,1.00,1.35,1.08,1.36,1.00,1.29,2.0,A
2,1000075,4599,2,162,1,1799,29990,9,17639,6,...,0.22,1.0,0.94,0.90,0.45,1.03,2.00,1.53,1.0,A
3,10001370,4599,6,40,1,1799,29990,17,17639,2,...,1.00,1.0,1.51,1.04,0.00,1.30,1.64,1.43,2.0,A
4,1000199,4081,2,162,1,1540,9990,0,0,0,...,1.00,1.0,1.00,1.23,1.17,1.18,1.00,0.94,2.0,A

In [6]:
#ejecuto el modelo contra la base test
X_TEST = df_test.drop('FL_TARGET', axis=1)
Y_TEST = df_test.FL_TARGET
PRED = clf.predict(X_TEST)
pd.crosstab(Y_TEST, PRED, rownames=['actual'], colnames=['preds'])

preds       A    P
actual
A       26285    0
P        2762  208

In [7]:
#Precision del modelo
print("precisión del modelo: {0: .2f}".format((Y_TEST == PRED).mean()))

precisión del modelo:  0.91